
body{
    font-family: 'Poppins', sans-serif !important;
}
.btn:hover,
a:hover {
    cursor: pointer !important;
}
.my-nav-bar {
    position: fixed;
    top: 0;
    z-index: 1500;
}
.blog-card{
    height: 300px ;
    background-color: transparent !important;
    border: 1px solid transparent;
    transform: scale(1);
    transition: .3s linear;
    overflow: hidden;
}
.blog-card .img-container{
    width: 40%;
}
.blog-card  img{
    width: 100%;
    height: 300px;
    transition: .3s linear;
    transform: scale(1);
}
.blog-card .card-body{
    width: 60%;
    margin: auto;
}
.blog-card:hover{
    /* border: 1px solid #ffffff40; */
    transform: scale(1.03);
    background-color: #000 !important;
    transition: .3s linear;
}
.blog-card:hover img{
    transform: scale(1.05);
    transition: .3s linear;
}

.blog-right-container{
    background-color: transparent !important;
}
.search-bar{
    border-radius: 10px;
    border: 1px solid #88888860;
    transition: .3s linear;
}
.search-bar:hover{
    border: 1px solid #00a8f1;
    transition: .3s linear;
}
.search-bar input{
    color: #fff !important;
}
.search-bar input:focus{
    box-shadow: none !important;
}
.tags-container h5::after,
.category-container h5::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #E34F5C;
}
.category-container .category{
    border: 1px solid transparent;
    border-bottom-color: #88888860;
    padding: 15px 10px;
    transition: .3s linear;
}
.category-container .category i {
    display: none;
}
.category-container .category.active,
.category-container .category:hover,
.category-container .category:focus{
    border-bottom-color: #00a8f1;
    color: #fff !important;
    letter-spacing: 1.5px;
    padding: 15px 20px;
    box-shadow: none !important;
    transition: .3s linear;
}
.category-container .category:hover i,
.category-container .category:focus i{
   display: inline-block;
}